<div class="headerPan">
    <div class="headerInn">
        <div class="aec-container">
            <div class="headerLogo">
                <a class="site-title" href="{{ site.main_baseurl }}"><img src="/assets/images/appseconnect-2022.png"></a> 
            </div>
            <div id='cssmenu'>
                <ul>
                    <li>
                        <a href="{{ '/' }}" title="docs home"><span>Docs Home</span></a>
                    </li>
                    <li>
                        <a href="https://www.appseconnect.com/knowledgebase/" target="_blank" title="knowledge base"><span>Knowledgebase</span></a>
                    </li>
                    <li>
                        <a href="https://www.appseconnect.com/ipaas-essentials-course/" target="_blank"  title="Training courses"><span>Training Courses</span></a>
                    </li>
                    <li>
                        <a href="https://portal.appseconnect.com/" target="_blank"  title="Product home"><span>Sign in</span></a>
                    </li> 
                    <li><a href="https://www.appseconnect.com/free-trial/" title="Free Trial"><span>Free Trial</span></a></li>
                </ul> 
            </div>
            <br class="spacer" />
        </div>
    </div>
</div>
